.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-70%);
  opacity: 0;
  border-radius: 4px;
  padding: 72px 24px 24px;

  max-width: 100%;
  max-height: 100%;

  width: 408px;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform, opacity;

  background: #fcfcfc;
  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  color: #2e2f42;
  pointer-events: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
.modal-form-input:focus + .modal-form-icon {
  color: #4d5ae5;
}

.backdrop.is-open .modal {
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;
}

.modal-btn-close {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0;

  padding: 0;
  background-color: #e7e9fc;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 24px;
  width: 24px;
  height: 24px;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}

.modal-btn-icon {
  color: #2e2f42;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}

.modal-btn-close:hover,
.modal-btn-close:focus {
  background-color: #404bbf;
}

.modal-btn-close:hover > .modal-btn-icon,
.modal-btn-close:focus > .modal-btn-icon {
  color: white;
}

.modal-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;

  margin-bottom: 16px;
}
/* modal form */

.modal-form {
}
.modal-form-field {
  margin-bottom: 8px;
}
.modal-form-label {
  display: block;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;

  margin-bottom: 4px;
}
.modal-form-wrapper {
  position: relative;
}
.modal-form-input {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0;

  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 38px;
  width: 100%;
  height: 40px;

  background-color: #fcfcfc;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border-color;
}

.modal-form-input:focus {
  border-color: #4d5ae5;
}

.modal-form-comment {
  width: 100%;
  height: 120px;
  padding: 8px 16px;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #434455;

  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;

  border-color: rgba(46, 47, 66, 0.4);

  resize: none;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border-color;
}

.modal-form-comment:focus {
  border-color: #4d5ae5;
}
.modal-form-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.btn-send {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0;

  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  border: none;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}

.btn-send:hover,
.btn-send:focus {
  background-color: #404bbf;
}

.checkbox {
}

.modal-form-policy {
}

.modal-form-link {
}

.modal-form-agreement {
  margin-top: 8px;
}
.modal-form-policy {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.modal-form-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 16px;
  height: 16px;
  margin-right: 8px;

  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}
.checkbox:checked + .modal-form-policy > .modal-form-checkbox {
  border-color: transparent;
  background-color: #404bbf;
}

.checkbox:focus-visible + .modal-form-policy > .modal-form-checkbox {
  outline: auto;
  outline-offset: 4px;
  border-radius: 4px;
}

.modal-form-checkbox-icon {
  color: #f4f4fd;
  opacity: 0;
  transition: 300ms ease-out;
  transition-property: opacity;
}
.checkbox:checked
  + .modal-form-policy
  > .modal-form-checkbox
  .modal-form-checkbox-icon {
  opacity: 1;
}
.modal-form-link {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
